<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2002-2022 iterate GmbH. All rights reserved.
  ~ https://cyberduck.io/
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  -->
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.testcontainers" additivity="true" level="debug"/>
        <Logger name="org.apache.http.wire" additivity="false" level="error"/>
        <Logger name="org.apache.http.headers" additivity="false" level="error"/>
        <Logger name="ch.cyberduck" additivity="true" level="debug"/>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
