* text=auto !eol
/Cyberduck[!!-~]Website.webloc -text svneol=unset#application/octet-stream
/Donate.webloc -text svneol=unset#application/octet-stream
/cyberduck-application.icns svneol=native#unset
/cyberduck-application.jpg -text
/cyberduck-application.psd -text
/cyberduck-application.tiff -text
/cyberduck-document.icns svneol=native#unset
en.lproj/InfoPlist.strings -text
en.lproj/Localizable.strings -text svneol=unset#application/octet-stream
img/add.tiff svneol=native#unset
img/addPressed.tiff svneol=native#unset
img/arrow.tiff svneol=native#unset
img/back.tiff svneol=native#unset
img/back32.tiff -text
img/connect.tiff svneol=native#unset
img/delete.tiff svneol=native#unset
img/disconnect.tiff svneol=native#unset
img/disk.tiff svneol=native#unset
img/download.tiff svneol=native#unset
img/edit.tiff -text
img/editPressed.tiff -text
img/favorites.tiff svneol=native#unset
img/folder.tiff -text
img/info.tiff svneol=native#unset
img/newfolder.icns svneol=native#unset
img/refresh.tiff svneol=native#unset
img/reload.tiff svneol=native#unset
img/remove.tiff svneol=native#unset
img/removePressed.tiff svneol=native#unset
img/rendezvous.tiff svneol=native#unset
img/server.tiff svneol=native#unset
img/stop.tiff svneol=native#unset
img/up.tiff svneol=native#unset
img/upload.tiff svneol=native#unset
lib/ext/ant.jar -text
lib/ext/junit.jar -text
lib/j2ssh.jar svneol=native#unset
lib/jrendezvous.jar -text
lib/log4j.jar svneol=native#unset
lib/logging.jar -text
source/ch/cyberduck/Attic/connection/.DS_Store svneol=native#unset
source/ch/cyberduck/Attic/connection/ftp/.DS_Store svneol=native#unset
source/ch/cyberduck/Attic/connection/http/.DS_Store svneol=native#unset
source/ch/cyberduck/Attic/connection/sftp/.DS_Store svneol=native#unset
