* text=auto !eol
/Cyberduck[!!-~]Website.webloc -text svneol=unset#application/octet-stream
/Donate.webloc -text svneol=unset#application/octet-stream
/cyberduck-application.icns svneol=native#unset
/cyberduck-application.jpg -text
/cyberduck-application.psd -text
/cyberduck-application.tiff -text
/cyberduck-document.icns svneol=native#unset
/cyberduck-document.tiff -text
de.lproj/Bookmark.nib/keyedobjects.nib -text
de.lproj/Bookmark.strings svneol=native#unset
de.lproj/Browser.nib/keyedobjects.nib -text
de.lproj/Browser.strings svneol=native#unset
de.lproj/Connection.nib/keyedobjects.nib -text
de.lproj/Connection.strings svneol=native#unset
de.lproj/Donate.nib/keyedobjects.nib -text
de.lproj/Donate.strings svneol=native#unset
de.lproj/Download.nib/keyedobjects.nib -text
de.lproj/Download.strings svneol=native#unset
de.lproj/Folder.nib/keyedobjects.nib -text
de.lproj/Folder.strings svneol=native#unset
de.lproj/Goto.nib/keyedobjects.nib -text
de.lproj/Goto.strings svneol=native#unset
de.lproj/Info.nib/keyedobjects.nib -text
de.lproj/Info.strings svneol=native#unset
de.lproj/InfoPlist.strings -text
de.lproj/Localizable.strings -text
de.lproj/Login.nib/keyedobjects.nib -text
de.lproj/Login.strings svneol=native#unset
de.lproj/Main.nib/keyedobjects.nib -text
de.lproj/Main.strings svneol=native#unset
de.lproj/Preferences.nib/keyedobjects.nib -text
de.lproj/Preferences.strings svneol=native#unset
de.lproj/Queue.nib/keyedobjects.nib -text
de.lproj/Queue.strings svneol=native#unset
de.lproj/Update.nib/keyedobjects.nib -text
de.lproj/Update.strings svneol=native#unset
en.lproj/Bookmark.nib/keyedobjects.nib -text
en.lproj/Bookmark.strings svneol=native#unset
en.lproj/Browser.nib/keyedobjects.nib -text
en.lproj/Browser.strings svneol=native#unset
en.lproj/Connection.nib/keyedobjects.nib -text
en.lproj/Connection.strings svneol=native#unset
en.lproj/Donate.nib/keyedobjects.nib -text
en.lproj/Donate.strings svneol=native#unset
en.lproj/Download.nib/keyedobjects.nib -text
en.lproj/Download.strings svneol=native#unset
en.lproj/Folder.nib/keyedobjects.nib -text
en.lproj/Folder.strings svneol=native#unset
en.lproj/Goto.nib/keyedobjects.nib -text
en.lproj/Goto.strings svneol=native#unset
en.lproj/Info.nib/keyedobjects.nib -text
en.lproj/Info.strings svneol=native#unset
en.lproj/InfoPlist.strings -text
en.lproj/Localizable.strings -text
en.lproj/Login.nib/keyedobjects.nib -text
en.lproj/Login.strings svneol=native#unset
en.lproj/Main.nib/keyedobjects.nib -text
en.lproj/Main.strings svneol=native#unset
en.lproj/Preferences.nib/keyedobjects.nib -text
en.lproj/Preferences.strings svneol=native#unset
en.lproj/Queue.nib/keyedobjects.nib -text
en.lproj/Queue.strings svneol=native#unset
en.lproj/Update.nib/keyedobjects.nib -text
en.lproj/Update.strings svneol=native#unset
es.lproj/Bookmark.nib/keyedobjects.nib -text
es.lproj/Bookmark.strings svneol=native#unset
es.lproj/Browser.nib/keyedobjects.nib -text
es.lproj/Browser.strings svneol=native#unset
es.lproj/Connection.nib/keyedobjects.nib -text
es.lproj/Connection.strings svneol=native#unset
es.lproj/Donate.nib/keyedobjects.nib -text
es.lproj/Donate.strings svneol=native#unset
es.lproj/Download.nib/keyedobjects.nib -text
es.lproj/Download.strings svneol=native#unset
es.lproj/Folder.nib/keyedobjects.nib -text
es.lproj/Folder.strings svneol=native#unset
es.lproj/Goto.nib/keyedobjects.nib -text
es.lproj/Goto.strings svneol=native#unset
es.lproj/Info.nib/keyedobjects.nib -text
es.lproj/Info.strings svneol=native#unset
es.lproj/InfoPlist.strings svneol=native#unset
es.lproj/Localizable.strings svneol=native#unset
es.lproj/Login.nib/keyedobjects.nib -text
es.lproj/Login.strings svneol=native#unset
es.lproj/Main.nib/keyedobjects.nib -text
es.lproj/Main.strings svneol=native#unset
es.lproj/Preferences.nib/keyedobjects.nib -text
es.lproj/Preferences.strings svneol=native#unset
es.lproj/Queue.nib/keyedobjects.nib -text
es.lproj/Queue.strings svneol=native#unset
es.lproj/Update.nib/keyedobjects.nib -text
es.lproj/Update.strings svneol=native#unset
fr.lproj/Bookmark.nib/keyedobjects.nib -text
fr.lproj/Bookmark.strings svneol=native#unset
fr.lproj/Browser.nib/keyedobjects.nib -text
fr.lproj/Browser.strings svneol=native#unset
fr.lproj/Connection.nib/keyedobjects.nib -text
fr.lproj/Connection.strings svneol=native#unset
fr.lproj/Donate.nib/keyedobjects.nib -text
fr.lproj/Donate.strings svneol=native#unset
fr.lproj/Download.nib/keyedobjects.nib -text
fr.lproj/Download.strings svneol=native#unset
fr.lproj/Folder.nib/keyedobjects.nib -text
fr.lproj/Folder.strings svneol=native#unset
fr.lproj/Goto.nib/keyedobjects.nib -text
fr.lproj/Goto.strings svneol=native#unset
fr.lproj/Info.nib/keyedobjects.nib -text
fr.lproj/Info.strings svneol=native#unset
fr.lproj/InfoPlist.strings svneol=native#unset
fr.lproj/Localizable.strings svneol=native#unset
fr.lproj/Login.nib/keyedobjects.nib -text
fr.lproj/Login.strings svneol=native#unset
fr.lproj/Main.nib/keyedobjects.nib -text
fr.lproj/Main.strings svneol=native#unset
fr.lproj/Preferences.nib/keyedobjects.nib -text
fr.lproj/Preferences.strings svneol=native#unset
fr.lproj/Queue.nib/keyedobjects.nib -text
fr.lproj/Queue.strings svneol=native#unset
fr.lproj/Update.nib/keyedobjects.nib -text
fr.lproj/Update.strings svneol=native#unset
/generic-document.icns -text
/generic-document.tiff -text
img/add.tiff svneol=native#unset
img/addPressed.tiff svneol=native#unset
img/alert.tiff -text
img/arrowDown.tiff -text
img/arrowUp.tiff -text
img/back.tiff svneol=native#unset
img/back32.tiff -text
img/bookmarks.tiff svneol=native#unset
img/cancel.tiff -text
img/clean.tiff -text
img/connect.tiff svneol=native#unset
img/deleteFile.tiff -text
img/disconnect.tiff svneol=native#unset
img/disk.tiff svneol=native#unset
img/downloadFile.tiff -text
img/drawer.tiff -text
img/drawerPressed.tiff -text
img/edit.tiff -text
img/editPressed.tiff -text
img/eject.tiff -text
img/folder.icns -text
img/folder16.tiff -text
img/gear.tiff -text
img/gearMenu.tiff -text
img/history.tiff -text
img/info.tiff svneol=native#unset
img/newfolder.icns svneol=native#unset
img/offline.tiff -text
img/online.tiff -text
img/pause.tiff -text
img/refresh.tiff svneol=native#unset
img/reload.tiff svneol=native#unset
img/remove.tiff svneol=native#unset
img/removePressed.tiff svneol=native#unset
img/rendezvous.tiff svneol=native#unset
img/resume.tiff -text
img/reveal.tiff -text
img/run.tiff -text
img/server.tiff svneol=native#unset
img/stop.tiff svneol=native#unset
img/stripe.tiff -text
img/stripeGray.tiff -text
img/stripeWhite.tiff -text
img/triangleLeft.tiff -text
img/triangleRight.tiff -text
img/up.tiff svneol=native#unset
img/uploadFile.tiff -text
it.lproj/Bookmark.nib/keyedobjects.nib -text
it.lproj/Bookmark.strings svneol=native#unset
it.lproj/Browser.nib/keyedobjects.nib -text
it.lproj/Browser.strings svneol=native#unset
it.lproj/Connection.nib/keyedobjects.nib -text
it.lproj/Connection.strings svneol=native#unset
it.lproj/Donate.nib/keyedobjects.nib -text
it.lproj/Donate.strings svneol=native#unset
it.lproj/Download.nib/keyedobjects.nib -text
it.lproj/Download.strings svneol=native#unset
it.lproj/Folder.nib/keyedobjects.nib -text
it.lproj/Folder.strings svneol=native#unset
it.lproj/Goto.nib/keyedobjects.nib -text
it.lproj/Goto.strings svneol=native#unset
it.lproj/Info.nib/keyedobjects.nib -text
it.lproj/Info.strings svneol=native#unset
it.lproj/InfoPlist.strings svneol=native#unset
it.lproj/Localizable.strings svneol=native#unset
it.lproj/Login.nib/keyedobjects.nib -text
it.lproj/Login.strings svneol=native#unset
it.lproj/Main.nib/keyedobjects.nib -text
it.lproj/Main.strings svneol=native#unset
it.lproj/Preferences.nib/keyedobjects.nib -text
it.lproj/Preferences.strings svneol=native#unset
it.lproj/Queue.nib/keyedobjects.nib -text
it.lproj/Queue.strings svneol=native#unset
it.lproj/Update.nib/keyedobjects.nib -text
it.lproj/Update.strings svneol=native#unset
ja.lproj/Bookmark.nib/keyedobjects.nib -text
ja.lproj/Bookmark.strings svneol=native#unset
ja.lproj/Browser.nib/keyedobjects.nib -text
ja.lproj/Browser.strings svneol=native#unset
ja.lproj/Connection.nib/keyedobjects.nib -text
ja.lproj/Connection.strings svneol=native#unset
ja.lproj/Donate.nib/keyedobjects.nib -text
ja.lproj/Donate.strings svneol=native#unset
ja.lproj/Download.nib/keyedobjects.nib -text
ja.lproj/Download.strings svneol=native#unset
ja.lproj/Folder.nib/keyedobjects.nib -text
ja.lproj/Folder.strings svneol=native#unset
ja.lproj/Goto.nib/keyedobjects.nib -text
ja.lproj/Goto.strings svneol=native#unset
ja.lproj/Info.nib/keyedobjects.nib -text
ja.lproj/Info.strings svneol=native#unset
ja.lproj/InfoPlist.strings svneol=native#unset
ja.lproj/Localizable.strings svneol=native#unset
ja.lproj/Login.nib/keyedobjects.nib -text
ja.lproj/Login.strings svneol=native#unset
ja.lproj/Main.nib/keyedobjects.nib -text
ja.lproj/Main.strings svneol=native#unset
ja.lproj/Preferences.nib/keyedobjects.nib -text
ja.lproj/Preferences.strings svneol=native#unset
ja.lproj/Queue.nib/keyedobjects.nib -text
ja.lproj/Queue.strings svneol=native#unset
ja.lproj/Update.nib/keyedobjects.nib -text
ja.lproj/Update.strings svneol=native#unset
ko.lproj/Bookmark.nib/keyedobjects.nib -text
ko.lproj/Bookmark.strings svneol=native#unset
ko.lproj/Browser.nib/keyedobjects.nib -text
ko.lproj/Browser.strings svneol=native#unset
ko.lproj/Connection.nib/keyedobjects.nib -text
ko.lproj/Connection.strings svneol=native#unset
ko.lproj/Donate.nib/keyedobjects.nib -text
ko.lproj/Donate.strings svneol=native#unset
ko.lproj/Download.nib/keyedobjects.nib -text
ko.lproj/Download.strings svneol=native#unset
ko.lproj/Folder.nib/keyedobjects.nib -text
ko.lproj/Folder.strings svneol=native#unset
ko.lproj/Goto.nib/keyedobjects.nib -text
ko.lproj/Goto.strings svneol=native#unset
ko.lproj/Info.nib/keyedobjects.nib -text
ko.lproj/Info.strings svneol=native#unset
ko.lproj/InfoPlist.strings svneol=native#unset
ko.lproj/Localizable.strings svneol=native#unset
ko.lproj/Login.nib/keyedobjects.nib -text
ko.lproj/Login.strings svneol=native#unset
ko.lproj/Main.nib/keyedobjects.nib -text
ko.lproj/Main.strings svneol=native#unset
ko.lproj/Preferences.nib/keyedobjects.nib -text
ko.lproj/Preferences.strings svneol=native#unset
ko.lproj/Queue.nib/keyedobjects.nib -text
ko.lproj/Queue.strings svneol=native#unset
ko.lproj/Update.nib/keyedobjects.nib -text
ko.lproj/Update.strings svneol=native#unset
lib/ext/ant.jar -text
lib/ext/junit.jar -text
lib/jmdns.jar -text
lib/log4j.jar svneol=native#unset
lib/logging.jar -text
nl.lproj/Bookmark.nib/keyedobjects.nib -text
nl.lproj/Bookmark.strings svneol=native#unset
nl.lproj/Browser.nib/keyedobjects.nib -text
nl.lproj/Browser.strings svneol=native#unset
nl.lproj/Connection.nib/keyedobjects.nib -text
nl.lproj/Connection.strings svneol=native#unset
nl.lproj/Donate.nib/keyedobjects.nib -text
nl.lproj/Donate.strings svneol=native#unset
nl.lproj/Download.nib/keyedobjects.nib -text
nl.lproj/Download.strings svneol=native#unset
nl.lproj/Folder.nib/keyedobjects.nib -text
nl.lproj/Folder.strings svneol=native#unset
nl.lproj/Goto.nib/keyedobjects.nib -text
nl.lproj/Goto.strings svneol=native#unset
nl.lproj/Info.nib/keyedobjects.nib -text
nl.lproj/Info.strings svneol=native#unset
nl.lproj/InfoPlist.strings -text
nl.lproj/Localizable.strings -text
nl.lproj/Login.nib/keyedobjects.nib -text
nl.lproj/Login.strings svneol=native#unset
nl.lproj/Main.nib/keyedobjects.nib -text
nl.lproj/Main.strings svneol=native#unset
nl.lproj/Preferences.nib/keyedobjects.nib -text
nl.lproj/Preferences.strings svneol=native#unset
nl.lproj/Queue.nib/keyedobjects.nib -text
nl.lproj/Queue.strings svneol=native#unset
nl.lproj/Update.nib/keyedobjects.nib -text
nl.lproj/Update.strings svneol=native#unset
pt.lproj/Bookmark.nib/keyedobjects.nib -text
pt.lproj/Bookmark.strings svneol=native#unset
pt.lproj/Browser.nib/keyedobjects.nib -text
pt.lproj/Browser.strings svneol=native#unset
pt.lproj/Connection.nib/keyedobjects.nib -text
pt.lproj/Connection.strings svneol=native#unset
pt.lproj/Donate.nib/keyedobjects.nib -text
pt.lproj/Donate.strings svneol=native#unset
pt.lproj/Download.nib/keyedobjects.nib -text
pt.lproj/Download.strings svneol=native#unset
pt.lproj/Folder.nib/keyedobjects.nib -text
pt.lproj/Folder.strings svneol=native#unset
pt.lproj/Goto.nib/keyedobjects.nib -text
pt.lproj/Goto.strings svneol=native#unset
pt.lproj/Info.nib/keyedobjects.nib -text
pt.lproj/Info.strings svneol=native#unset
pt.lproj/InfoPlist.strings svneol=native#unset
pt.lproj/Localizable.strings svneol=native#unset
pt.lproj/Login.nib/keyedobjects.nib -text
pt.lproj/Login.strings svneol=native#unset
pt.lproj/Main.nib/keyedobjects.nib -text
pt.lproj/Main.strings svneol=native#unset
pt.lproj/Preferences.nib/keyedobjects.nib -text
pt.lproj/Preferences.strings svneol=native#unset
pt.lproj/Queue.nib/keyedobjects.nib -text
pt.lproj/Queue.strings svneol=native#unset
pt.lproj/Update.nib/keyedobjects.nib -text
pt.lproj/Update.strings svneol=native#unset
source/ch/cyberduck/Attic/connection/.DS_Store svneol=native#unset
source/ch/cyberduck/Attic/connection/ftp/.DS_Store svneol=native#unset
source/ch/cyberduck/Attic/connection/http/.DS_Store svneol=native#unset
source/ch/cyberduck/Attic/connection/sftp/.DS_Store svneol=native#unset
zh_TW.lproj/Bookmark.nib.strings svneol=native#unset
zh_TW.lproj/Browser.nib.strings svneol=native#unset
zh_TW.lproj/Connection.nib.strings svneol=native#unset
zh_TW.lproj/Donate.nib.strings svneol=native#unset
zh_TW.lproj/Download.nib.strings svneol=native#unset
zh_TW.lproj/Folder.nib.strings svneol=native#unset
zh_TW.lproj/Goto.nib.strings svneol=native#unset
zh_TW.lproj/Info.nib.strings svneol=native#unset
zh_TW.lproj/InfoPlist.strings svneol=native#unset
zh_TW.lproj/Login.nib.strings svneol=native#unset
zh_TW.lproj/Main.nib.strings svneol=native#unset
zh_TW.lproj/Preferences.nib.strings svneol=native#unset
zh_TW.lproj/Queue.nib.strings svneol=native#unset
zh_TW.lproj/Update.nib.strings svneol=native#unset
