language: java
matrix:
  include:
    - os: linux
      jdk: oraclejdk8
    - os: osx
      osx_image: xcode8.3
script: mvn test -DskipITs -B
notifications:
  slack:
    secure: H5FQoNW1PFzX8NBsCdpbZ6mwOKXNy0nMSjsBGSmPrdcc71ObkHbn1ALof/IKAWtvxnk0TLY9Av9R7faQIWtcIMVMOg93C59wT53X3oFj+wMNBNjMEsTmMmacQFn4WqYKmZl6p/AXNV4WU3FtMeA5OH5tfXjdKthyMo2Q10l0fGfWWt3MrZ10oOLLsTghaHeWoxaua/RDJDl5l14cYR0PFDK02sIMMT99msF0//humlAirZvqWJAHGBpb1bY5W3UR+HLmf/KCVhZwSNx3L1pA9Wp/uoArVkfmQXVuhWkAHjoc1Myi4RAEEx9TQCI2PH/kAQhNClhnil5HvVvuWbAnPm7JVVp1Gh9iLcNnkfKw8mPT5fgQmss0rSCVgMWQFZ5DcNmsRLiyUF0ok4hcEy/YmgQ+G1VfgcJtVx+tZb5Po4ATdl6FQ21ioOfEdflH5NO+T3zpW1T6Os7CZnH3u6SBTiGG6gvFvLCPlbEfY7HmRIjJ3gsYlgu7uZkegXrb+cwM8SFm74LN7g8dGAbJnb6qKCSfDWGsMQ34AP8qoOtYm2SAA4ke7p//xovc5i70GK+Nby420/Ynq8He5K+2cRC9jsM5MQlmI8UDaJk/0svAq4tA4jUZksUVnDk66LhOfcTyvaCg/ma8RGYk7Il0ekP9+Ge73gAK6oDgveBHyQtZhfw=
# Extra packages
addons:
  apt:
    packages:
    - gnupg
    - fakeroot
