<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>duck</string>
		<key>CFBundleIdentifier</key>
		<string>ch.sudo.cyberduck.cli</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>duck</string>
		<key>CFBundlePackageType</key>
		<string>BNDL</string>
		<key>CFBundleShortVersionString</key>
		<string>${VERSION}</string>
		<key>CFBundleSignature</key>
		<string>CYCK</string>
		<key>CFBundleVersion</key>
		<string>${REVISION}</string>
		<key>Runtime</key>
		<dict>
			<key>Library</key>
			<string>$APP_PACKAGE/Contents/MacOS/Runtime.jre</string>
			<key>MainClass</key>
			<string>ch.cyberduck.cli.Terminal</string>
			<key>StartOnMainThread</key>
			<true/>
			<key>VMOptions</key>
			<string>-Djava.library.path=$APP_PACKAGE/Contents/Frameworks -Djna.boot.library.path=$APP_PACKAGE/Contents/Frameworks -Djna.library.path=$APP_PACKAGE/Contents/Frameworks -Djna.nounpack=true -Djava.awt.headless=true -Dsun.jnu.encoding=utf-8 -Dfile.encoding=utf-8 -Dsun.io.useCanonCaches=false -Xverify:none -XX:-UsePerfData -XX:+ReduceSignalUsage -XX:-OptimizeStringConcat</string>
			<key>WorkingDirectory</key>
			<string>$APP_PACKAGE/Contents/Resources</string>
		</dict>
        <key>LSMinimumSystemVersion</key>
        <string>${MACOSX_DEPLOYMENT_TARGET}</string>
		<key>NSHumanReadableCopyright</key>
		<string>${COPYRIGHT}</string>
	</dict>
</plist>
