<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSFilenamesPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>duck</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cyberduck-document</string>
			<key>CFBundleTypeName</key>
			<string>Cyberduck Bookmark</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cyberduck</string>
	<key>CFBundleIconFile</key>
	<string>cyberduck-application</string>
	<key>CFBundleIdentifier</key>
	<string>ch.sudo.cyberduck</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cyberduck</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>CYCK</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP site</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
				<string>ftps</string>
				<string>sftp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>_REVISION_</string>
	<key>Java</key>
	<dict>
		<key>JVMVersion</key>
		<string>1.4+</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSJavaNeeded</key>
	<string>YES</string>
	<key>NSJavaPath</key>
	<array>
		<string>j2ssh.jar</string>
		<string>core.jar</string>
		<string>cocoa.jar</string>
		<string>ftp.jar</string>
		<string>log4j-1.2.13.jar</string>
		<string>jakarta-oro-2.0.8.jar</string>
	</array>
	<key>NSJavaRoot</key>
	<string>Contents/Resources/Java</string>
	<key>NSMainNibFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUCheckAtStartup</key>
	<integer>1</integer>
	<key>SUFeedURL</key>
	<string>http://update.cyberduck.ch/changelog.rss</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cyberduck Bookmark</string>
			<key>UTTypeIdentifier</key>
			<string>ch.sudo.cyberduck.bookmark</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>duck</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
