<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="ExceptionReporter" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="2.0.0" targetFramework="net45" />
  <package id="Simple-MAPI.NET" version="1.0.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>