<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.apple.security.app-protection</key>
		<true/>
		<key>com.apple.security.network.server</key>
		<!-- The ability to open a socket for listening. Used for Active (PORT) FTP data connections -->
		<true/>
		<key>com.apple.security.network.client</key>
		<!-- The ability to open an outgoing connection to another machine -->
		<true/>
		<key>com.apple.security.files.downloads.read-write</key>
		<true/>
		<key>com.apple.security.print</key>
		<!-- The ability to print -->
		<true/>
		<key>com.apple.security.temporary-exception.apple-events</key>
		<!-- The ability to send Apple events to the specified destination application. Used for ODB editors. -->
		<array>
	        <string>de.codingmonkeys.SubEthaEdit</string>
	        <string>com.barebones.bbedit</string>
	        <string>com.barebones.textwrangler</string>
	        <string>com.macromates.textmate</string>
	        <string>com.transtex.texeditplus</string>
	        <string>jp.co.artman21.JeditX</string>
	        <string>net.mimikaki.mi</string>
	        <string>org.smultron.Smultron</string>
	        <string>org.fraise.Fraise</string>
	        <string>com.aynimac.CotEditor</string>
	        <string>com.macrabbit.cssedit</string>
	        <string>com.talacia.Tag</string>
	        <string>org.skti.skEdit</string>
	        <string>com.cgerdes.ji</string>
	        <string>com.optima.PageSpinner</string>
	        <string>com.hogbaysoftware.WriteRoom</string>
	        <string>org.vim.MacVim</string>
	        <string>com.forgedit.ForgEdit</string>
	        <string>com.tacosw.TacoHTMLEdit</string>
	        <string>com.macrabbit.Espresso</string>
	        <string>net.experiya.ScinteX</string>
		</array> 
	</dict>
</plist>
