<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.apple.security.app-sandbox</key>
		<true/>
		<key>com.apple.security.network.server</key>
		<!-- The ability to open a socket for listening. Used for Active (PORT) FTP data connections -->
		<true/>
		<key>com.apple.security.network.client</key>
		<!-- The ability to open an outgoing connection to another machine -->
		<true/>
		<key>com.apple.security.files.downloads.read-write</key>
		<true/>
		<key>com.apple.security.print</key>
		<!-- The ability to print -->
		<true/>
		<key>com.apple.security.temporary-exception.apple-events</key>
		<!-- The ability to send Apple events to the specified destination application. Used for ODB editors. -->
		<array>
			<!-- Register this application with Growl -->
			<string>com.growl.growlhelperapp</string>
			<!-- Open Terminal for current SFTP connection -->
			<string>com.apple.terminal</string>
			<string>de.codingmonkeys.subethaedit</string>
			<string>com.barebones.bbedit</string>
			<string>com.barebones.textwrangler</string>
			<string>com.macromates.textmate</string>
			<string>com.transtex.texeditplus</string>
			<string>jp.co.artman21.jeditx</string>
			<string>net.mimikaki.mi</string>
			<string>org.smultron.smultron</string>
			<string>org.fraise.fraise</string>
			<string>com.aynimac.coteditor</string>
			<string>com.macrabbit.cssedit</string>
			<string>com.talacia.tag</string>
			<string>org.skti.skedit</string>
			<string>com.cgerdes.ji</string>
			<string>com.optima.pagespinner</string>
			<string>com.hogbaysoftware.writeroom</string>
			<string>org.vim.macvim</string>
			<string>com.forgedit.forgedit</string>
			<string>com.tacosw.tacohtmledit</string>
			<string>com.macrabbit.espresso</string>
			<string>net.experiya.scintex</string>
		</array>
		<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
		<array>
			<string>GrowlApplicationBridgePathway</string>
		</array>
	</dict>
</plist>
