<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>duck</string>
		<key>CFBundleIdentifier</key>
		<string>sh.duck</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>duck</string>
		<key>CFBundlePackageType</key>
		<string>BNDL</string>
		<key>CFBundleShortVersionString</key>
		<string>${VERSION}</string>
		<key>CFBundleSignature</key>
		<string>CYCK</string>
		<key>CFBundleVersion</key>
		<string>${REVISION}</string>
		<key>Runtime</key>
		<dict>
			<key>Library</key>
			<string>$APP_PACKAGE/Contents/PlugIns/Runtime.jre</string>
			<key>MainClass</key>
			<string>ch.cyberduck.cli.ApplicationTerminal</string>
			<key>StartOnMainThread</key>
			<true/>
			<key>VMOptions</key>
			<string>-Djava.ext.dirs=$APP_PACKAGE/Contents/PlugIns/Runtime.jre/Contents/Home/lib/ext -Djava.library.path=$APP_PACKAGE/Contents/Frameworks -Djna.boot.library.path=$APP_PACKAGE/Contents/Frameworks -Djna.library.path=$APP_PACKAGE/Contents/Frameworks -Djna.nounpack=true -Djava.awt.headless=true -Dsun.jnu.encoding=utf-8 -Dfile.encoding=utf-8 -Dsun.io.useCanonCaches=false -Xverify:none</string>
			<key>WorkingDirectory</key>
			<string>$APP_PACKAGE/Contents/Resources</string>
		</dict>
        <key>LSMinimumSystemVersion</key>
        <string>${MACOSX_DEPLOYMENT_TARGET}</string>
		<key>NSHumanReadableCopyright</key>
		<string>${COPYRIGHT}</string>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Cyberduck Bookmark</string>
                <key>UTTypeIdentifier</key>
                <string>ch.sudo.cyberduck.bookmark</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>duck</string>
                    </array>
                </dict>
                <key>UTTypeIconFile</key>
                <string>cyberduck-document.icns</string>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Cyberduck Donation Key</string>
                <key>UTTypeIdentifier</key>
                <string>ch.sudo.cyberduck.license</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cyberducklicense</string>
                    </array>
                </dict>
                <key>UTTypeIconFile</key>
                <string>cyberduck-document.icns</string>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Cyberduck Receipt</string>
                <key>UTTypeIdentifier</key>
                <string>ch.sudo.cyberduck.receipt</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cyberduckreceipt</string>
                    </array>
                </dict>
                <key>UTTypeIconFile</key>
                <string>cyberduck-document.icns</string>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Cyberduck Connection Profile</string>
                <key>UTTypeIdentifier</key>
                <string>ch.sudo.cyberduck.profile</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cyberduckprofile</string>
                    </array>
                </dict>
                <key>UTTypeIconFile</key>
                <string>cyberduck-document.icns</string>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Cyberduck Transfer</string>
                <key>UTTypeIdentifier</key>
                <string>ch.sudo.cyberduck.transfer</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cyberducktransfer</string>
                    </array>
                </dict>
                <key>UTTypeIconFile</key>
                <string>cyberduck-document.icns</string>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>com.apple.package</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Cyberduck Segment</string>
                <key>UTTypeIdentifier</key>
                <string>ch.sudo.cyberduck.segment</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cyberducksegment</string>
                    </array>
                </dict>
                <key>UTTypeIconFile</key>
                <string>cyberduck-document.icns</string>
            </dict>
        </array>
	</dict>
</plist>
