<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>com.apple.security.app-sandbox</key>
        <true/>
        <key>com.apple.security.files.bookmarks.app-scope</key>
        <true/>
        <key>com.apple.security.files.bookmarks.document-scope</key>
        <true/>
        <key>com.apple.security.network.server</key>
        <!-- The ability to open a socket for listening. Used for Active (PORT) FTP data connections -->
        <true/>
        <key>com.apple.security.network.client</key>
        <!-- The ability to open an outgoing connection to another machine -->
        <true/>
        <key>com.apple.security.files.downloads.read-write</key>
        <true/>
        <key>com.apple.security.files.user-selected.read-write</key>
        <true/>
        <key>com.apple.security.print</key>
        <!-- The ability to print -->
        <true/>
        <key>com.apple.security.application-groups</key>
        <array>
            <string>G69SCX94XU.duck</string>
        </array>
        <key>com.apple.security.scripting-targets</key>
        <dict>
            <key>com.apple.systempreferences</key>
            <array>
                <string>preferencepane.reveal</string>
            </array>
        </dict>
    </dict>
</plist>
