{
    "openapi": "3.0.1",
    "info": {
        "title": "DeepBox",
        "description": "DeepBox API Documentation",
        "contact": {
            "name": "DeepCloud AG",
            "url": "https://www.deepcloud.swiss",
            "email": "info@deepcloud.swiss"
        },
        "license": {
            "name": "DeepCloud Terms and Conditions",
            "url": "https://www.deepcloud.swiss/legal/AB-DeepCloud-AG_EN.pdf"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.deepbox.swiss",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "token": []
        }
    ],
    "paths": {
        "/api/v1/watches/{watchId}": {
            "put": {
                "tags": [
                    "watch-rest-controller"
                ],
                "operationId": "updateWatch",
                "parameters": [
                    {
                        "name": "watchId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WatchUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "watch-rest-controller"
                ],
                "operationId": "deleteWatch",
                "parameters": [
                    {
                        "name": "watchId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/system/deepBoxes/{deepBoxNodeId}": {
            "put": {
                "tags": [
                    "system-rest-controller"
                ],
                "operationId": "updateDeepBoxSystem",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeepBoxUpdateSystem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}": {
            "get": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "listNodeContent",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 300,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "displayName|modifiedTime|fileSize [asc|desc]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "displayName"
                        },
                        "example": "modifiedTime desc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NodeContent"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "updateNode",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NodeUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "addNodeContent",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "files",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Node"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "deletePurgeNode",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "purge",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Insufficient permission to delete children"
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/tags": {
            "get": {
                "tags": [
                    "tag-rest-controller"
                ],
                "operationId": "listNodeTags",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tag"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "tag-rest-controller"
                ],
                "description": "set node tags",
                "operationId": "setNodeTags",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "tagKey[:tagValue] Only json format date/times/numerics are recognized as such. ISO-8601",
                    "content": {
                        "application/json": {
                            "schema": {
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "example": [
                                "my-bare-tag",
                                "my-text-tag:foobar",
                                "my-integer-tag:1234",
                                "my-real-tag:1234.5678",
                                "my-date-tag:2021-05-28",
                                "my-datetime-tag:2021-05-28T10:15:30+01:00"
                            ]
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "patch": {
                "tags": [
                    "tag-rest-controller"
                ],
                "description": "deprecated -> use PUT ../tags/update instead",
                "operationId": "deprectedUpdateNodeTags",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NodeTagsUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/nodes/{nodeId}/tags/update": {
            "put": {
                "tags": [
                    "tag-rest-controller"
                ],
                "operationId": "updateNodeTags",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NodeTagsUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tag"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/revisions": {
            "put": {
                "tags": [
                    "revision-rest-controller"
                ],
                "description": "Replace current file content",
                "operationId": "replaceCurrentRevision",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Node"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/edit": {
            "put": {
                "tags": [
                    "edit-rest-controller"
                ],
                "description": "Request edit file (frontend only)",
                "operationId": "createEdit",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Edit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/comments/{commentId}": {
            "get": {
                "tags": [
                    "comment-rest-controller"
                ],
                "operationId": "getComment",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "commentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "comment-rest-controller"
                ],
                "operationId": "updateComment",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "commentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "maxLength": 1000,
                                "minLength": 0,
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "comment-rest-controller"
                ],
                "operationId": "deleteComment",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "commentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/accesses/{accessId}": {
            "put": {
                "tags": [
                    "access-rest-controller"
                ],
                "operationId": "updateAccess",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "accessId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/deepBoxes/{deepBoxNodeId}/boxes/{boxNodeId}/accesses/{accessId}": {
            "put": {
                "tags": [
                    "access-rest-controller"
                ],
                "operationId": "updateBoxAccess",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "accessId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/tags/{tagId}": {
            "get": {
                "tags": [
                    "tag-rest-controller"
                ],
                "operationId": "getAdminDeepBoxTag",
                "parameters": [
                    {
                        "name": "tagId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminTag"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "tag-rest-controller"
                ],
                "operationId": "updateAdminDeepBoxTag",
                "parameters": [
                    {
                        "name": "tagId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminTagUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "409": {
                        "description": "Tag key already exists"
                    }
                }
            },
            "delete": {
                "tags": [
                    "tag-rest-controller"
                ],
                "operationId": "deleteAdminDeepBoxTag",
                "parameters": [
                    {
                        "name": "tagId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/inShares/{shareId}": {
            "get": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "getInShare",
                "parameters": [
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InShare"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "updateInShare",
                "parameters": [
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InShareUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "deleteInShare",
                "parameters": [
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/inShares/{shareId}/accesses/{accessId}": {
            "put": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "updateInShareAccess",
                "parameters": [
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "accessId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InShareAccessUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "deleteInShareAccess",
                "parameters": [
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "accessId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/deepBoxes/{deepBoxNodeId}": {
            "get": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "getAdminDeepBox",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminDeepBox"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "updateDeepBox",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeepBoxUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "deleteDeepBox",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "i_am_aware_that_this_is_irreversible",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/deepBoxes/{deepBoxNodeId}/boxes/{boxNodeId}": {
            "get": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "listAdminBoxes_1",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminBox"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "updateBox",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BoxUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "deleteBox",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "i_am_aware_that_this_is_irreversible",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/deepBoxes/{deepBoxNodeId}/boxes/{boxNodeId}/outShares/{shareId}/nodes/{nodeId}": {
            "put": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "updateOutShareNode",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OutShareNodeUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-rest-controller"
                ],
                "operationId": "deleteOutShareNode",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "shareId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/admin/deepBoxes/{deepBoxNodeId}/boxes/{boxNodeId}/metas/{metaName}": {
            "get": {
                "tags": [
                    "admin-rest-controller"
                ],
                "description": "Get box meta (deepadmin only).",
                "operationId": "getBoxMeta",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "metaName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "paymentMethod"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "admin-rest-controller"
                ],
                "description": "Set/update box meta (deepadmin only).",
                "operationId": "updateBoxMeta",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "metaName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "paymentMethod"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin-rest-controller"
                ],
                "description": "Delete box meta (deepadmin only).",
                "operationId": "deleteBoxMeta",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "metaName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "paymentMethod"
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/addresses/{addressId}": {
            "get": {
                "tags": [
                    "address-rest-controller"
                ],
                "operationId": "getAddress",
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "address-rest-controller"
                ],
                "operationId": "updateAddress",
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "address-rest-controller"
                ],
                "operationId": "deleteAddress",
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/users/me/meta": {
            "get": {
                "tags": [
                    "user-rest-controller"
                ],
                "operationId": "readUserMeta",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "keys",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "user-rest-controller"
                ],
                "description": "Set or update meta values",
                "operationId": "writeUserMeta",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "multiple meta key:value to insert or update. not listed existing keys remain as is"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/system/transformToUser": {
            "post": {
                "tags": [
                    "system-rest-controller"
                ],
                "description": "Transform pending user to regular (deepadmin)",
                "operationId": "transformToUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransformToUser"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/system/onboard": {
            "post": {
                "tags": [
                    "system-rest-controller"
                ],
                "operationId": "onboard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnboardData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/sharelinks": {
            "post": {
                "tags": [
                    "share-link-rest-controller"
                ],
                "description": "Create a sharelink which allows accessing a file. To download a file use [/nodes/{nodeId}/downloadUrl](#/download-rest-controller/downloadUrl) or asyc [/downloads](#/download-rest-controller/requestDownload) endpoints instead.",
                "operationId": "createShareLinkResource",
                "parameters": [
                    {
                        "name": "acceptMessageIds",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "avScan.fileTooBig"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShareLinkAdd"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShareLinkResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogEntry"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/webhooks": {
            "post": {
                "tags": [
                    "webhook-rest-controller"
                ],
                "operationId": "addWebhook",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebhookAdd"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Webhook"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/watches": {
            "post": {
                "tags": [
                    "watch-rest-controller"
                ],
                "operationId": "addWatch",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WatchAdd"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Watch"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/revert": {
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "revertNode",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Path"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/move": {
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "moveNode",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NodeMove"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "422": {
                        "description": "Insufficient permission to move"
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/meta": {
            "get": {
                "tags": [
                    "meta-rest-controller"
                ],
                "operationId": "readNodeMeta",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "keys",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "meta-rest-controller"
                ],
                "description": "Set or update meta values",
                "operationId": "writeNodeMeta",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "multiple meta key:value to insert or update. not listed existing keys remain as is"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/copy": {
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "copyNode",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NodeCopy"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Copied",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Node"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Insufficient permission to copy",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Node"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/convert": {
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "convertAndSaveNode",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Node"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/comments": {
            "get": {
                "tags": [
                    "comment-rest-controller"
                ],
                "operationId": "listComments",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 300,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "createdTime [asc|desc]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "createdTime desc"
                        },
                        "example": "createdTime desc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comments"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "comment-rest-controller"
                ],
                "operationId": "addComment",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "maxLength": 1000,
                                "minLength": 0,
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/bin": {
            "post": {
                "tags": [
                    "meta-rest-controller"
                ],
                "operationId": "writeNodeBin",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "files",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/attributes": {
            "get": {
                "tags": [
                    "attributes-rest-controller"
                ],
                "operationId": "readFileAttributes",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "attributes-rest-controller"
                ],
                "operationId": "writeFileAttributes",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/approve": {
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "approve",
                "parameters": [
                    {
                        "name": "DeepBox-App-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Approve"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/analyze": {
            "get": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "getAnalyze",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "waitForResult",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "60s"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyzeResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "core-rest-controller"
                ],
                "operationId": "analyze",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "waitForResult",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "60s"
                        }
                    },
                    {
                        "name": "force",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyzeResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/addresses": {
            "post": {
                "tags": [
                    "address-rest-controller"
                ],
                "description": "Create new address.",
                "operationId": "createAddress",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "description": "box, queue or any folder",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressAdd"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/nodes/{nodeId}/accesses": {
            "get": {
                "tags": [
                    "access-rest-controller"
                ],
                "operationId": "listAccesses",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessData"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "access-rest-controller"
                ],
                "operationId": "addAccesses",
                "parameters": [
                    {
                        "name": "nodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessAdd"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Access"
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Access already exists",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Access"
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Access"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/downloads": {
            "post": {
                "tags": [
                    "download-rest-controller"
                ],
                "description": "Initiate a new download (multiple files and folder nodes supported). Check the response and use /downloads/{downloadId}/status if the download is not yet ready.",
                "operationId": "requestDownload",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DownloadAdd"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Download"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/deepBoxes/{deepBoxNodeId}/boxes/{boxNodeId}/queue": {
            "get": {
                "tags": [
                    "box-rest-controller"
                ],
                "operationId": "listQueue",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "Tags",
                        "required": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 300,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "displayName|modifiedTime|fileSize [asc|desc]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "modifiedTime desc"
                        },
                        "example": "modifiedTime desc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NodeContent"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "box-rest-controller"
                ],
                "operationId": "addQueue",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "files"
                                ],
                                "type": "object",
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "fileAttributes": {
                                        "type": "string",
                                        "description": "key/value json"
                                    },
                                    "fileTags": {
                                        "type": "string",
                                        "description": "array of tags"
                                    },
                                    "additionalAnalyzeData": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Node"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/deepBoxes/{deepBoxNodeId}/boxes/{boxNodeId}/generics/{genericId}": {
            "get": {
                "tags": [
                    "generic-rest-controller"
                ],
                "operationId": "listFilesGenerics",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "boxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "genericId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[a-z-]{1,50}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 300,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "displayName|modifiedTime|fileSize [asc|desc]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "displayName"
                        },
                        "example": "modifiedTime desc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NodeContent"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "generic-rest-controller"
                ],
                "operationId": "addContentGenerics",
                "parameters": [
                    {
                        "name": "deepBoxNodeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
[...]
