{
    "openapi": "3.0.1",
    "info": {
        "title": "Files.com API",
        "contact": {
            "name": "Files.com Customer Success Team",
            "email": "support@files.com"
        },
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "//app.files.com/api/rest/v1"
        }
    ],
    "tags": [
        {
            "name": "action_notification_exports",
            "description": "Operations about action_notification_exports"
        },
        {
            "name": "action_notification_export_results",
            "description": "Operations about action_notification_export_results"
        },
        {
            "name": "action_webhook_failures",
            "description": "Operations about action_webhook_failures"
        },
        {
            "name": "api_key",
            "description": "Operations about api_keys"
        },
        {
            "name": "api_keys",
            "description": "Operations about api_keys"
        },
        {
            "name": "site",
            "description": "Operations about sites"
        },
        {
            "name": "user",
            "description": "Operations about users"
        },
        {
            "name": "users",
            "description": "Operations about users"
        },
        {
            "name": "apps",
            "description": "Operations about apps"
        },
        {
            "name": "as2_keys",
            "description": "Operations about as2_keys"
        },
        {
            "name": "automations",
            "description": "Operations about automations"
        },
        {
            "name": "bandwidth_snapshots",
            "description": "Operations about bandwidth_snapshots"
        },
        {
            "name": "behaviors",
            "description": "Operations about behaviors"
        },
        {
            "name": "bundles",
            "description": "Operations about bundles"
        },
        {
            "name": "bundle_downloads",
            "description": "Operations about bundle_downloads"
        },
        {
            "name": "bundle_recipients",
            "description": "Operations about bundle_recipients"
        },
        {
            "name": "bundle_registrations",
            "description": "Operations about bundle_registrations"
        },
        {
            "name": "clickwraps",
            "description": "Operations about clickwraps"
        },
        {
            "name": "dns_records",
            "description": "Operations about dns_records"
        },
        {
            "name": "external_events",
            "description": "Operations about external_events"
        },
        {
            "name": "files",
            "description": "Operations about files"
        },
        {
            "name": "file_actions",
            "description": "Operations about file_actions"
        },
        {
            "name": "file_comments",
            "description": "Operations about file_comments"
        },
        {
            "name": "file_comment_reactions",
            "description": "Operations about file_comment_reactions"
        },
        {
            "name": "file_migrations",
            "description": "Operations about file_migrations"
        },
        {
            "name": "folders",
            "description": "Operations about folders"
        },
        {
            "name": "form_field_sets",
            "description": "Operations about form_field_sets"
        },
        {
            "name": "groups",
            "description": "Operations about groups"
        },
        {
            "name": "group_users",
            "description": "Operations about group_users"
        },
        {
            "name": "history",
            "description": "Operations about histories"
        },
        {
            "name": "history_exports",
            "description": "Operations about history_exports"
        },
        {
            "name": "history_export_results",
            "description": "Operations about history_export_results"
        },
        {
            "name": "inbox_recipients",
            "description": "Operations about inbox_recipients"
        },
        {
            "name": "inbox_registrations",
            "description": "Operations about inbox_registrations"
        },
        {
            "name": "inbox_uploads",
            "description": "Operations about inbox_uploads"
        },
        {
            "name": "invoices",
            "description": "Operations about invoices"
        },
        {
            "name": "ip_addresses",
            "description": "Operations about ip_addresses"
        },
        {
            "name": "locks",
            "description": "Operations about locks"
        },
        {
            "name": "messages",
            "description": "Operations about messages"
        },
        {
            "name": "message_comments",
            "description": "Operations about message_comments"
        },
        {
            "name": "message_comment_reactions",
            "description": "Operations about message_comment_reactions"
        },
        {
            "name": "message_reactions",
            "description": "Operations about message_reactions"
        },
        {
            "name": "notifications",
            "description": "Operations about notifications"
        },
        {
            "name": "payments",
            "description": "Operations about payments"
        },
        {
            "name": "permissions",
            "description": "Operations about permissions"
        },
        {
            "name": "projects",
            "description": "Operations about projects"
        },
        {
            "name": "public_keys",
            "description": "Operations about public_keys"
        },
        {
            "name": "remote_servers",
            "description": "Operations about remote_servers"
        },
        {
            "name": "requests",
            "description": "Operations about requests"
        },
        {
            "name": "sessions",
            "description": "Operations about sessions"
        },
        {
            "name": "settings_changes",
            "description": "Operations about settings_changes"
        },
        {
            "name": "sso_strategies",
            "description": "Operations about sso_strategies"
        },
        {
            "name": "styles",
            "description": "Operations about styles"
        },
        {
            "name": "sync_jobs",
            "description": "Operations about sync_jobs"
        },
        {
            "name": "usage_snapshots",
            "description": "Operations about usage_snapshots"
        },
        {
            "name": "usage_daily_snapshots",
            "description": "Operations about usage_daily_snapshots"
        },
        {
            "name": "user_cipher_uses",
            "description": "Operations about user_cipher_uses"
        },
        {
            "name": "user_requests",
            "description": "Operations about user_requests"
        },
        {
            "name": "webhook_tests",
            "description": "Operations about webhook_tests"
        }
    ],
    "paths": {
        "/action_notification_exports": {
            "post": {
                "tags": [
                    "action_notification_exports"
                ],
                "summary": "Create Action Notification Export",
                "description": "Create Action Notification Export",
                "operationId": "PostActionNotificationExports",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/action_notification_exports_body"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The ActionNotificationExports object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionNotificationExportEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ActionNotificationExports object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "folder_admin",
                    {
                        "path_params": [
                            "query_path",
                            "query_folder"
                        ]
                    }
                ]
            }
        },
        "/action_notification_exports/{id}": {
            "get": {
                "tags": [
                    "action_notification_exports"
                ],
                "summary": "Show Action Notification Export",
                "description": "Show Action Notification Export",
                "operationId": "GetActionNotificationExportsId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Action Notification Export ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Action Notification Export ID."
                        },
                        "x-ms-summary": "Action Notification Export ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The ActionNotificationExports object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionNotificationExportEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ActionNotificationExports object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "folder_admin"
                ]
            }
        },
        "/action_notification_export_results": {
            "get": {
                "tags": [
                    "action_notification_export_results"
                ],
                "summary": "List Action Notification Export Results",
                "description": "List Action Notification Export Results",
                "operationId": "GetActionNotificationExportResults",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID.  Provide a value of `0` to operate the current session's user.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
                        },
                        "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                        },
                        "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                        },
                        "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                    },
                    {
                        "name": "action_notification_export_id",
                        "in": "query",
                        "description": "ID of the associated action notification export.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "ID of the associated action notification export."
                        },
                        "x-ms-summary": "ID of the associated action notification export."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of ActionNotificationExportResults objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActionNotificationExportResultEntity"
                                    }
                                }
                            }
                        },
                        "x-ms-summary": "A list of ActionNotificationExportResults objects."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "folder_admin"
                ]
            }
        },
        "/action_webhook_failures/{id}/retry": {
            "post": {
                "tags": [
                    "action_webhook_failures"
                ],
                "summary": "retry Action Webhook Failure",
                "description": "retry Action Webhook Failure",
                "operationId": "PostActionWebhookFailuresIdRetry",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Action Webhook Failure ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Action Webhook Failure ID."
                        },
                        "x-ms-summary": "Action Webhook Failure ID."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The ActionWebhookFailures object.",
                        "content": {},
                        "x-ms-summary": "The ActionWebhookFailures object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "site"
                ]
            }
        },
        "/api_key": {
            "get": {
                "tags": [
                    "api_key"
                ],
                "summary": "Show information about current API key.  (Requires current API connection to be using an API key.)",
                "description": "Show information about current API key.  (Requires current API connection to be using an API key.)",
                "operationId": "FindCurrent",
                "responses": {
                    "200": {
                        "description": "The ApiKey object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ApiKey object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "desktop_app",
                    "office_integration"
                ]
            },
            "delete": {
                "tags": [
                    "api_key"
                ],
                "summary": "Delete current API key.  (Requires current API connection to be using an API key.)",
                "description": "Delete current API key.  (Requires current API connection to be using an API key.)",
                "operationId": "DeleteCurrent",
                "responses": {
                    "204": {
                        "description": "No body.",
                        "content": {},
                        "x-ms-summary": "No body."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "desktop_app",
                    "office_integration"
                ]
            },
            "patch": {
                "tags": [
                    "api_key"
                ],
                "summary": "Update current API key.  (Requires current API connection to be using an API key.)",
                "description": "Update current API key.  (Requires current API connection to be using an API key.)",
                "operationId": "UpdateCurrent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api_key_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The ApiKey object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ApiKey object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "desktop_app",
                    "office_integration"
                ]
            }
        },
        "/api_keys/{id}": {
            "get": {
                "tags": [
                    "api_keys"
                ],
                "summary": "Show Api Key",
                "description": "Show Api Key",
                "operationId": "GetApiKeysId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Api Key ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Api Key ID."
                        },
                        "x-ms-summary": "Api Key ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The ApiKeys object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ApiKeys object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "self_managed"
                ]
            },
            "delete": {
                "tags": [
                    "api_keys"
                ],
                "summary": "Delete Api Key",
                "description": "Delete Api Key",
                "operationId": "DeleteApiKeysId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Api Key ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Api Key ID."
                        },
                        "x-ms-summary": "Api Key ID."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No body.",
                        "content": {},
                        "x-ms-summary": "No body."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "self_managed"
                ]
            },
            "patch": {
                "tags": [
                    "api_keys"
                ],
                "summary": "Update Api Key",
                "description": "Update Api Key",
                "operationId": "PatchApiKeysId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Api Key ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Api Key ID."
                        },
                        "x-ms-summary": "Api Key ID."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api_keys_id_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The ApiKeys object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ApiKeys object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "self_managed"
                ]
            }
        },
        "/api_keys": {
            "get": {
                "tags": [
                    "api_keys"
                ],
                "summary": "List Api Keys",
                "description": "List Api Keys",
                "operationId": "GetApiKeys",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID.  Provide a value of `0` to operate the current session's user.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
                        },
                        "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                        },
                        "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                        },
                        "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_gt",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_gteq",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_like",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_lt",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_lteq",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of ApiKeys objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKeyEntity"
                                    }
                                }
                            }
                        },
                        "x-ms-summary": "A list of ApiKeys objects."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "self_managed"
                ],
                "x-path_aliases": [
                    "site/api_keys",
                    "user/api_keys",
                    "users/:user_id/api_keys"
                ]
            },
            "post": {
                "tags": [
                    "api_keys"
                ],
                "summary": "Create Api Key",
                "description": "Create Api Key",
                "operationId": "PostApiKeys",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api_keys_body"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The ApiKeys object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ApiKeys object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [],
                "x-path_aliases": [
                    "site/api_keys",
                    "user/api_keys",
                    "users/:user_id/api_keys"
                ]
            }
        },
        "/site/usage": {
            "get": {
                "tags": [
                    "site"
                ],
                "summary": "Get the most recent usage snapshot (usage data for billing purposes) for a Site.",
                "description": "Get the most recent usage snapshot (usage data for billing purposes) for a Site.",
                "operationId": "GetSiteUsage",
                "responses": {
                    "200": {
                        "description": "The Site object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsageSnapshotEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The Site object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "site",
                    "overdue_ok",
                    "billing"
                ]
            }
        },
        "/site": {
            "get": {
                "tags": [
                    "site"
                ],
                "summary": "Show site settings",
                "description": "Show site settings",
                "operationId": "GetSite",
                "responses": {
                    "200": {
                        "description": "The Site object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SiteEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The Site object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "site",
                    "overdue_ok"
                ]
            },
            "patch": {
                "tags": [
                    "site"
                ],
                "summary": "Update site settings.",
                "description": "Update site settings.",
                "operationId": "PatchSite",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/site_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The Site object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SiteEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The Site object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "site",
                    "overdue_ok"
                ],
                "x-reauthentication": {
                    "required": true,
                    "params": [
                        "email",
                        "require_2fa",
                        "require_2fa_user_type",
                        "disable_2fa_with_delay"
                    ]
                }
            }
        },
        "/site/ip_addresses": {
            "get": {
                "tags": [
                    "site"
                ],
                "summary": "List IP Addresses associated with the current site",
                "description": "List IP Addresses associated with the current site",
                "operationId": "GetSiteIpAddresses",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                        },
                        "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                        },
                        "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of IpAddresses objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IpAddressEntity"
                                    }
                                }
                            }
                        },
                        "x-ms-summary": "A list of IpAddresses objects."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "site",
                    "overdue_ok"
                ],
                "x-path_aliases": [
                    "site/ip_addresses"
                ]
            }
        },
        "/site/dns_records": {
            "get": {
                "tags": [
                    "site"
                ],
                "summary": "Show site DNS configuration.",
                "description": "Show site DNS configuration.",
                "operationId": "GetSiteDnsRecords",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                        },
                        "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                        },
                        "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of DnsRecords objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DnsRecordEntity"
                                    }
                                }
                            }
                        },
                        "x-ms-summary": "A list of DnsRecords objects."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "site",
                    "overdue_ok"
                ],
                "x-path_aliases": [
                    "site/dns_records"
                ]
            }
        },
        "/site/test-webhook": {
            "post": {
                "tags": [
                    "site"
                ],
                "summary": "Test webhook.",
                "description": "Test webhook.",
                "operationId": "PostSiteTestWebhook",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/site_testwebhook_body"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The Behaviors object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StatusEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The Behaviors object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "folder_admin"
                ],
                "x-path_aliases": [
                    "site/test-webhook"
                ]
            }
        },
        "/site/api_keys": {
            "get": {
                "tags": [
                    "site"
                ],
                "summary": "List Api Keys",
                "description": "List Api Keys",
                "operationId": "GetSiteApiKeys",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID.  Provide a value of `0` to operate the current session's user.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
                        },
                        "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                        },
                        "x-ms-summary": "Used for pagination.  Send a cursor value to resume an existing list from the point at which you left off.  Get a cursor from an existing list via the X-Files-Cursor-Next header."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                        },
                        "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, sort records by the specified field in either 'asc' or 'desc' direction (e.g. sort_by[last_login_at]=desc). Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_gt",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is greater than the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_gteq",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is greater than or equal to the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_like",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is equal to the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_lt",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is less than the supplied value. Valid fields are `expires_at`."
                    },
                    {
                        "name": "filter_lteq",
                        "in": "query",
                        "description": "If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "x-ms-summary": "If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`."
                        },
                        "x-ms-summary": "If set, return records where the specifiied field is less than or equal to the supplied value. Valid fields are `expires_at`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of ApiKeys objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKeyEntity"
                                    }
                                }
                            }
                        },
                        "x-ms-summary": "A list of ApiKeys objects."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [
                    "self_managed"
                ],
                "x-path_aliases": [
                    "site/api_keys",
                    "user/api_keys",
                    "users/:user_id/api_keys"
                ]
            },
            "post": {
                "tags": [
                    "site"
                ],
                "summary": "Create Api Key",
                "description": "Create Api Key",
                "operationId": "PostSiteApiKeys",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/site_api_keys_body"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The ApiKeys object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeyEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The ApiKeys object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
                        "x-ms-summary": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {},
                        "x-ms-summary": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {},
                        "x-ms-summary": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {},
                        "x-ms-summary": "Method Not Allowed"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {},
                        "x-ms-summary": "Conflict"
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "content": {},
                        "x-ms-summary": "Precondition Failed"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {},
                        "x-ms-summary": "Unprocessable Entity"
                    },
                    "423": {
                        "description": "Locked",
                        "content": {},
                        "x-ms-summary": "Locked"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {},
                        "x-ms-summary": "Too Many Requests"
                    }
                },
                "x-authentication": [],
                "x-path_aliases": [
                    "site/api_keys",
                    "user/api_keys",
                    "users/:user_id/api_keys"
                ]
            }
        },
        "/user": {
            "patch": {
                "tags": [
                    "user"
                ],
                "summary": "Update User",
                "description": "Update User",
                "operationId": "PatchUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/user_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The Users object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEntity"
                                }
                            }
                        },
                        "x-ms-summary": "The Users object."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {},
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {},
[...]
