<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Cyberduck Upload Widget</string>
	<key>CFBundleIdentifier</key>
	<string>ch.sudo.cyberduck.dashboard.widget</string>
	<key>CFBundleName</key>
	<string>Cyberduck Upload Widget</string>
	<key>CFBundleShortVersionString</key>
	<string>Version 1.0 (*revision*)</string>
	<key>CFBundleVersion</key>
	<string>1.0 (*revision*)</string>
	<key>CloseBoxInsetX</key>
	<integer>12</integer>
	<key>CloseBoxInsetY</key>
	<integer>70</integer>
	<key>Height</key>
	<integer>221</integer>
	<key>MainHTML</key>
	<string>Upload.html</string>
	<key>Width</key>
	<integer>158</integer>
	<key>Plugin</key>
	<string>Cyberduck.widgetplugin</string>
</dict>
</plist>
