body,
html,
form { margin: 0; }

#front
{
	width: 158px;
	height: 221px;
	background: transparent url("Images/front.png") no-repeat bottom left;
}

#duck
{
	width: 158px;
	height: 221px;
	background: transparent url("Images/duck.png") no-repeat center 30px;
}

#nickname
{
	display: none;
}

#serverlabel
{
	position: absolute;
	text-align: center;
	left: 0;
	bottom: 40px;
	width: 130px;
	margin: 0 14px;
	font-family: "Lucida Sans";
	font-weight: bold;
	font-size: 8pt;
	color: #fff;
	text-shadow: 0 1px 2px #000;
}

#catcheye:hover { text-decoration: underline; }

#back
{
	width: 158px;
	height: 221px;
	display: none;
	background: transparent url("Images/back.png") no-repeat bottom left;
}

.flip
{
	position: absolute;
	bottom: 20px;
	right: 14px;
	z-index: 3000;
	width: 13px;
	height: 13px;
}

#flip { background: transparent url("file:///System/Library/WidgetResources/ibutton/white_i.png") no-repeat left top; }

#fliprollie
{
	opacity: 0.3;
	display: none;
	background: transparent url("file:///System/Library/WidgetResources/ibutton/white_rollie.png") no-repeat left top;
}

select#bookmarks 
{ 
	width: 130px; 
}

select#bookmarks option:before 
{ 
	content:url(Images/bookmark.png);
}

select#protocol 
{ 
	width: 70px;
	margin: 2px 0; 
}

.button
{
	position: absolute;
	bottom: 20px;
}

div#done { right: 14px; }
form { padding: 71px 14px 0 14px; }

input[type=text]
{
	margin: 0;
	width: 130px; 
}

p
{
	margin: 0;
	padding: 1px;
}
