<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="Cyberduck CLI" Language="1033" Version="!(bind.FileVersion.product.exe)" Manufacturer="iterate GmbH"
           UpgradeCode="98B2B672-3720-4CAC-BF3E-220757500AE0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="REINSTALLMODE" Value="dmus"/>

    <Property Id="BUILDVERSION" Value="0">
      <RegistrySearch Id="BuildVersion" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Type="raw" Name="CurrentBuild" />
    </Property>

    <Condition Message="Windows 10 Anniversary Update (14393) or later is required to run this application.">
      <![CDATA[BUILDVERSION >= 14393]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATION" Name="Cyberduck CLI">
          <Component Id="setEnviroment"
                     Guid="B429556B-9604-45DD-896C-4AE7BFFBE9EB">
            <CreateFolder />
            <Environment Id="PathVar"
                         Action="set"
                         Part="last"
                         Name="PATH"
                         Permanent="no"
                         System="yes"
                         Value="[INSTALLLOCATION]" />
          </Component>
          <Directory Id="PROFILES" Name="profiles"/>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLLOCATION">
      <Component Id="InstallLocationRegistrySearch">
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" Type="string" Value="[INSTALLLOCATION]" KeyPath="yes" />
      </Component>
      <Component Id="ProductExe" Guid="6D84843D-842B-4462-BF91-803D195AD0DB">
        <File Id="product.exe" Source="$(var.CLI.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ProductExe.Config" Guid="CFC37A9B-0CD5-439B-BFB5-A3176D6500A1">
        <File Source="$(var.CLI.TargetPath).config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="license" Guid="DF374856-F6F7-4520-A332-803CB0826593">
        <File Source="$(var.LicenseFile)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="acknowledgments" Guid="95A3AF7B-D782-47C5-9AEE-398DEE02D222">
        <File Source="$(var.CyberduckDir)Acknowledgments.rtf" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Cyberduck.Cli" Guid="811AEB4A-4751-428E-9116-9F7396C5C2C8">
        <File Source="$(var.CLI.TargetDir)/Cyberduck.Cli.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Core" Guid="058A9F4C-D8E9-43C3-83C1-E0E7439ACD93">
        <File Source="$(var.CLI.TargetDir)/Cyberduck.Core.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Protocols" Guid="A27F0196-0678-4AE6-9BD6-3EFD6EB1507A">
        <File Source="$(var.CLI.TargetDir)/Cyberduck.Protocols.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Cryptomator" Guid="06296D3F-6A87-4E56-A346-53C7B5368E39">
        <File Source="$(var.CLI.TargetDir)/Cyberduck.Cryptomator.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Core.Native" Guid="678E99DD-6943-495D-8742-ECE21846365D">
        <File Source="$(var.CLI.TargetDir)/Cyberduck.Core.Native.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- IKVM -->
      <Component Id="IKVM.ByteCode.dll">
        <File Source="$(var.CLI.TargetDir)/IKVM.ByteCode.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ikvm.dll">
        <File Source="$(var.CLI.TargetDir)/ikvm.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="IKVM.Java.dll">
        <File Source="$(var.CLI.TargetDir)/IKVM.Java.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ikvm.properties">
        <File Source="$(var.CLI.TargetDir)/ikvm.properties" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="IKVM.Runtime.dll">
        <File Source="$(var.CLI.TargetDir)/IKVM.Runtime.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="jnidispatch" Guid="B6621775-1A9A-461E-83B8-BB1EE34B5965">
        <File Source="$(var.CLI.TargetDir)/jnidispatch.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="System.Buffers">
        <File Source="$(var.CLI.TargetDir)/System.Buffers.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Memory">
        <File Source="$(var.CLI.TargetDir)/System.Memory.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Numerics.Vectors">
        <File Source="$(var.CLI.TargetDir)/System.Numerics.Vectors.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe">
        <File Source="$(var.CLI.TargetDir)/System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="CLI_WiX" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProfileComponents" />
      <ComponentGroupRef Id="IkvmRuntime" />
      <ComponentRef Id="setEnviroment" />
    </Feature>
  </Product>
</Wix>
