@import "style.css";

body {
	margin:0;
	padding:0;
	text-align:center;
	width:100%;
}
p {
	text-align:center;
}
#frame { 
	width:800px;
	margin-top:12px;
 	margin-left:auto;
	margin-right:auto;
}
#contentleft { 
	position:relative;
	float:left; 
	text-align:center; 
	margin-top:40px; 
	width:200px;
	margin-left:180px;
}
#contentcenter { 
	position:relative;
	float:left; 
	margin-top:10px; 
	height:260px; 
	width:20px; 
	border-right:1px solid #808080 
}
#contentright { 
	position:relative;
	float:left; 
	margin-top:40px; 
	margin-left:50px; width:200px; 
	height:200px;
	text-align:left; 
}
#footer { 
	text-align:center;
	clear:left; 
	padding-top:40px; 
}

a.hidden {
	color:#4e4e4e;
}

ul li {
		padding-left:7px;
		padding-right:7px;
		list-style:none;
		display:inline;
		font-weight:normal;
		border-left:1px solid #e2e2e2;
}

ul > li:last-child {
		border-right:1px solid #e2e2e2;
}
