@import url(http://cyberduck.ch/stylesheet.css);

body {
	background-color:#ffffff; 
	font-family:"Lucida Grande", "Gill Sans", Tahoma, sans-serif;
	margin:30px;
	font-size:9pt;
}

div#menu {
	width:100%;
}

div#menu ul {
	padding-left:0px;
	background:#fff url(./images/navigation.png) repeat-x;
	height:17px;
	overflow:hidden;
}

div#menu a:hover {
	font-weight:normal; 
	text-decoration:none; 
}

div#menu ul li {
	padding-left:7px;
	padding-right:7px;
	list-style:none;
	display:inline;
}

div#menu ul li p {
	display:inline;
}

div#content {
	border-left:1px solid #808080;
	padding-left:20px;
	vertical-align:top;
	width:500px;
}

div#content ul {
	list-style:none;
	padding-left:0;
}

div#content img {
	margin-left:5px;
}

img {
	border:0;
}

p {
	text-decoration:none; 
}

.bold {
	font-weight:bold; 
}

p.center {
	text-align:center; 
}
	
a:link, a:visited {
	color:#0066cc;
	text-decoration:none
}
	
a:hover  {
	text-decoration:underline
}

h3  { 
	font-size:18px; 
	font-weight:bold; 
}
	
h2  { 
	font-size:14px; 
	font-weight:bold; 
	padding-bottom:10px;
}

h1 { 
	font-size:12pt; 
}

div#footer {
	width:100%;
	font-size:8pt;
	text-align:center;
}
