<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="Cyberduck" Language="1033" Version="!(bind.FileVersion.product.exe)" Manufacturer="iterate GmbH" UpgradeCode="B9C33495-4B77-4863-9A40-4E767388647E">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade AllowDowngrades="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id="BUILDVERSION" Value="0">
      <RegistrySearch Id="BuildVersion" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Type="raw" Name="CurrentBuild" />
    </Property>

    <Condition Message="Windows 10 Anniversary Update (14393) or later is required to run this application.">
      <![CDATA[BUILDVERSION >= 14393]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATION" Name="!(bind.property.ProductName)">
          <Directory Id="PROFILES" Name="profiles"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="!(bind.property.ProductName)"/>
      </Directory>
    </Directory>

    <Icon Id="icon.ico" SourceFile="$(var.cyberduck.TargetDir)/cyberduck-application.ico"/>
    <Icon Id="cd_document.ico" SourceFile="$(var.cyberduck.TargetDir)/cyberduck-document.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="AUTOSTART" Value="0"/>
    <Property Id="REINSTALLMODE" Value="dmus"/>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLLOCATION">
      <Component Id="InstallLocationRegistrySearch">
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" Type="string" Value="[INSTALLLOCATION]" KeyPath="yes" />
      </Component>

      <Component Id="ProductExe">
        <File Id="product.exe" Source="$(var.cyberduck.TargetPath)" KeyPath="yes" Checksum="yes" >
          <Shortcut Id="ApplicationStartMenuShortcut"
            Name="Cyberduck"
            Advertise="yes"
            Description="Libre FTP, SFTP, WebDAV, S3 and OpenStack Swift browser"
            Directory="ApplicationProgramsFolder"
            WorkingDirectory="INSTALLLOCATION"
            Icon="icon.ico">
            <ShortcutProperty Key="System.AppUserModel.ID" Value="iterate.Cyberduck" />
          </Shortcut>
        </File>

        <ProgId Id="Cyberduck.Bookmark" Description="Cyberduck Bookmark" Icon="cd_document.ico" Advertise="yes">
          <Extension Id="duck">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
        </ProgId>
        <ProgId Id="Cyberduck Connection.Profile" Description="Cyberduck Connection Profile" Icon="cd_document.ico" Advertise="yes">
          <Extension Id="cyberduckprofile">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
        </ProgId>
        <ProgId Id="Cyberduck.License" Description="Cyberduck License" Icon="cd_document.ico" Advertise="yes">
          <Extension Id="cyberducklicense">
            <Verb Id="open" Command="Open" Argument='"%1"' />
          </Extension>
        </ProgId>
        <RemoveFolder Id="ApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />

        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities" Name="ApplicationDescription" Value="Libre FTP, SFTP, WebDAV, S3 and OpenStack Swift browser for Mac and Windows." Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities" Name="ApplicationIcon" Value="[INSTALLLOCATION]Cyberduck.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities" Name="ApplicationName" Value="!(bind.property.ProductName)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]Cyberduck.exe,1" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities\FileAssociations" Name=".duck" Value="Cyberduck.Bookmark" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities\FileAssociations" Name=".cyberduckprofile" Value="Cyberduck Connection.Profile" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities\FileAssociations" Name=".cyberducklicense" Value="Cyberduck.License" Type="string" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities\shell\Open\command" Value='"[INSTALLLOCATION]Cyberduck.exe" "%1"' Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="!(bind.property.ProductName)" Value="SOFTWARE\Cyberduck\Capabilities" Type="string" />

        <!-- App Paths to support Start,Run -> "Cyberduck" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Cyberduck.exe" Value="Cyberduck.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Cyberduck.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />

        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\Cyberduck.exe\SupportedTypes" Name=".duck" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\Cyberduck.exe\SupportedTypes" Name=".cyberduckprofile" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\Cyberduck.exe\SupportedTypes" Name=".cyberducklicense" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\Cyberduck.exe\shell\open" Name="FriendlyAppName" Value="!(bind.property.ProductName)" Type="string" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Cyberduck.Bookmark" Name="FriendlyTypeName" Value="Cyberduck Bookmark" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Cyberduck Connection.Profile" Name="FriendlyTypeName" Value="Cyberduck Connection Profile" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Cyberduck.License" Name="FriendlyTypeName" Value="Cyberduck License" Type="string" />
      </Component>
      <Component Id="Cyberduck.Exe.Config">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="CustomOpenFileFolderDialog">
        <File Source="$(var.cyberduck.TargetDir)/CustomOpenFileFolderDialog.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Core">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Core.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Core.Native">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Core.Native.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Core.Refresh">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Core.Refresh.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Cyberduck.Protocols">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Protocols.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Bonjour">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Bonjour.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Bonjour.Native">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Bonjour.Native.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Importer">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Importer.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Cyberduck.Cryptomator">
        <File Source="$(var.cyberduck.TargetDir)/Cyberduck.Cryptomator.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="WinSparkle">
        <File Source="$(var.cyberduck.TargetDir)/WinSparkle.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="msvcr120">
        <File Source="$(var.cyberduck.TargetDir)/msvcr120.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.beans">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Beans.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.core">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Core.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.charsets">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Charsets.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.localedata">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Localedata.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.security">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Security.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.text">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Text.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.util">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.management">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Management.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.xml.api">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.XML.API.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.xml.bind">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.XML.Bind.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.xml.parse">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.XML.Parse.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.xml.transform">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.XML.Transform.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.xml.xpath">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.XML.XPath.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.swingawt">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.SwingAWT.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.naming">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Naming.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.remoting">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Remoting.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.runtime">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.Runtime.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.runtime.jni">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.Runtime.JNI.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.jdbc">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Jdbc.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.misc" Guid="29564F63-CA76-4944-9022-D705E038DF24">
        <File Source="$(var.cyberduck.TargetDir)/IKVM.OpenJDK.Misc.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Interop.Bonjour">
        <File Source="$(var.cyberduck.TargetDir)/Interop.Bonjour.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="objectlistview">
        <File Source="$(var.cyberduck.TargetDir)/ObjectListView.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ikvm.native">
        <File Source="$(var.cyberduck.TargetDir)/ikvm-native-win32-x64.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="jnidispatch">
        <File Source="$(var.cyberduck.TargetDir)/jnidispatch.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="sunmscapi">
        <File Source="$(var.cyberduck.TargetDir)/sunmscapi.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="sunec">
        <File Source="$(var.cyberduck.TargetDir)/sunec.dll" KeyPath="yes" Checksum="yes" />
      </Component>

      <Component Id="System.Buffers">
        <File Source="$(var.cyberduck.TargetDir)/System.Buffers.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Memory">
        <File Source="$(var.cyberduck.TargetDir)/System.Memory.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Numerics.Vectors">
        <File Source="$(var.cyberduck.TargetDir)/System.Numerics.Vectors.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe">
        <File Source="$(var.cyberduck.TargetDir)/System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.Threading.Tasks.Extensions">
        <File Source="$(var.cyberduck.TargetDir)/System.Threading.Tasks.Extensions.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="System.ValueTuple">
        <File Source="$(var.cyberduck.TargetDir)/System.ValueTuple.dll" KeyPath="yes" Checksum="yes" />
      </Component>

      <!-- NuGet Dependencies -->
      <!-- DotNetProjects.Extended.Wpf.Toolkit -->
      <Component Id="DotNetProjects.Wpf.Extended.Toolkit.dll">
        <File Source="$(var.cyberduck.TargetDir)/DotNetProjects.Wpf.Extended.Toolkit.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- ExceptionReporter -->
      <Component Id="ExceptionReporter.WinForms">
        <File Source="$(var.cyberduck.TargetDir)/ExceptionReporter.NET.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="DotNetZip">
        <File Source="$(var.cyberduck.TargetDir)/DotNetZip.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SimpleMapi">
        <File Source="$(var.cyberduck.TargetDir)/SimpleMapi.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- Microsoft.Toolkit.Uwp.Notifications -->
      <Component Id="MSTKUWPNotifications">
        <File Source="$(var.cyberduck.TargetDir)/Microsoft.Toolkit.Uwp.Notifications.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- System.Reactive -->
      <Component Id="System.Reactive">
        <File Source="$(var.cyberduck.TargetDir)/System.Reactive.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- ReactiveUI.Fody-->
      <Component Id="ReactiveUI.Fody.Helpers">
        <File Source="$(var.cyberduck.TargetDir)/ReactiveUI.Fody.Helpers.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- ReactiveUI.WPF-->
      <Component Id="ReactiveUI.Wpf">
        <File Source="$(var.cyberduck.TargetDir)/ReactiveUI.Wpf.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- ReactiveUI -->
      <Component Id="ReactiveUI">
        <File Source="$(var.cyberduck.TargetDir)/ReactiveUI.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- DynamicData -->
      <Component Id="DynamicData">
        <File Source="$(var.cyberduck.TargetDir)/DynamicData.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- Splat -->
      <Component Id="Splat">
        <File Source="$(var.cyberduck.TargetDir)/Splat.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <!-- StructureMap -->
      <Component Id="structuremap">
        <File Source="$(var.cyberduck.TargetDir)/StructureMap.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- /Nuget Dependencies -->

      <Component Id="additional" Guid="c0733025-a4ec-4437-8617-0ace7d29318a">
        <File Source="$(var.cyberduck.TargetDir)/Acknowledgments.rtf" Checksum="yes" />
        <File Source="$(var.cyberduck.TargetDir)/License.txt" Checksum="yes" />
      </Component>

      <!-- Protocol Handlers -->
      <Component Id="URLAssociations">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\Cyberduck.ProtocolHandler">
          <RegistryValue Value="Cyberduck Protocol" Type="string" />
          <RegistryValue Key="DefaultIcon" Value="[#product.exe],0" Type="string" />
          <RegistryValue Key="shell\open\command" Value='"[#product.exe]" "%1"' Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities\URLAssociations">
          <RegistryValue Name="ftp" Value="Cyberduck.ProtocolHandler" Type="string" />
          <RegistryValue Name="ftps" Value="Cyberduck.ProtocolHandler" Type="string" />
          <RegistryValue Name="dav" Value="Cyberduck.ProtocolHandler" Type="string" />
          <RegistryValue Name="davs" Value="Cyberduck.ProtocolHandler" Type="string" />
          <RegistryValue Name="sftp" Value="Cyberduck.ProtocolHandler" Type="string" />
          <RegistryValue Name="s3" Value="Cyberduck.ProtocolHandler" Type="string" />
          <RegistryValue Name="irods" Value="Cyberduck.ProtocolHandler" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="FTP.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="ftp" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="ftp" Value="URL:File Transfer Protocol" Type="string" />
      </Component>
      <Component Id="FTPS.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="ftps" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="ftps" Value="URL:File Transfer Protocol over TLS" Type="string" />
      </Component>
      <Component Id="SFTP.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="sftp" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="sftp" Value="URL:Secure Shell File Transfer Protocol" Type="string" />
      </Component>
      <Component Id="DAV.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="dav" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="dav" Value="URL:Distributed Authoring and Versioning Protocol" Type="string" />
      </Component>
      <Component Id="DAVS.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="davs" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="davs" Value="URL:Distributed Authoring and Versioning Protocol over TLS" Type="string" />
      </Component>
      <Component Id="S3.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="s3" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="s3" Value="URL:Simple Storage Services Protocol" Type="string" />
      </Component>
      <Component Id="IRODS.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKCR" Key="irods" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKCR" Key="irods" Value="URL:Integrated Rule-Oriented Data System Protocol" Type="string" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Profiles" Directory="PROFILES">
      <Component Id="azure.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Azure.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="b2.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/B2.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="dav.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/DAV.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="davs.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/DAVS.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="dracoon.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/DRACOON (OAuth).cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="dropbox.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Dropbox.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="file.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/File.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="files.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Files.com.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ftp.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/FTP.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ftps.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/FTPS.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="googlecloudstorage.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Google Cloud Storage.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="googledrive.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Google Drive.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="nextcloud.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Nextcloud.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="smb.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/SMB.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="owncloud.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/ownCloud.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="onedrive.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Microsoft OneDrive.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="sharepoint.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Microsoft SharePoint.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="sharepointsite.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Microsoft SharePoint Site.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="rackspace.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Rackspace US.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="s3.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/S3 (HTTPS).cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="sftp.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/SFTP.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="swiftv2.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Openstack Swift (Keystone 2).cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="swiftv3.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Openstack Swift (Keystone 3).cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="box.cyberduckprofile">
        <File Source="$(var.cyberduck.TargetDir)/profiles/Box.cyberduckprofile" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="cyberduck-WiX" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Profiles" />
    </Feature>

    <Binary Id="WindowsVersionCustomAction.dll" SourceFile="$(var.WindowsVersionCustomAction.TargetDir)$(var.WindowsVersionCustomAction.TargetName).dll" />
    <CustomAction Id="WindowsVersion" BinaryKey="WindowsVersionCustomAction.dll" DllEntry="CustomAction1" Execute="immediate" />
    <Property Id="WixShellExecTarget" Value="[INSTALLLOCATION]Cyberduck.exe" />
    <CustomAction Id="LaunchFile"
      BinaryKey="WixCA"
      DllEntry="WixShellExec"
      Impersonate="yes" />

    <InstallUISequence>
      <Custom Action="WindowsVersion" Before="LaunchConditions" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="WindowsVersion" Before="LaunchConditions" />
      <Custom Action='LaunchFile' After='InstallFinalize'>AUTOSTART=1</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
