<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Cyberduck"
           Language="1033"
           Version="!(bind.FileVersion.product.exe)"
           Manufacturer="iterate GmbH"
           UpgradeCode="B9C33495-4B77-4863-9A40-4E767388647E"
           InstallerVersion="200">
    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="true" />

    <Property Id="BUILDVERSION" Value="0" Secure="yes">
      <RegistrySearch Id="BuildVersion"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                      Type="raw"
                      Name="CurrentBuild" />
    </Property>

    <Launch Condition="BUILDVERSION &gt;= 14393"
            Message="Windows 10 Anniversary Update (14393) or later is required to run this application." />

    <Icon Id="icon.ico" SourceFile="$(Cyberduck.TargetDir)cyberduck-application.ico" />
    <Icon Id="cd_document.ico" SourceFile="$(Cyberduck.TargetDir)cyberduck-document.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="REINSTALLMODE" Value="dmus" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="!(bind.property.ProductName)" />
    </StandardDirectory>

    <ComponentGroup Id="Package">
      <Files Directory="INSTALLFOLDER" Include="$(Cyberduck.TargetDir)**">
        <Exclude Files="$(Cyberduck.TargetPath);**.pdb" />
      </Files>

      <Component Id="InstallLocationRegistrySearch">
        <RegistryValue Root="HKLM"
                       Key="Software\[Manufacturer]\[ProductName]"
                       Name="InstallDir"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes" />
      </Component>

      <Component Id="Executable">
        <!-- Contains anything that references [#product.exe] -->
        <File Id="product.exe" Source="$(Cyberduck.TargetPath)" KeyPath="yes">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="Cyberduck"
                    Advertise="yes"
                    Description="Libre FTP, SFTP, WebDAV, SMB, S3 and OpenStack Swift browser"
                    Directory="ApplicationProgramsFolder"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="icon.ico">
            <ShortcutProperty Key="System.AppUserModel.ID" Value="iterate.Cyberduck" />
          </Shortcut>
        </File>
        <RemoveFolder Id="ApplicationProgramsFolder"
                      Directory="ApplicationProgramsFolder"
                      On="uninstall" />

        <ProgId Id="Cyberduck.Bookmark"
                Description="Cyberduck Bookmark"
                Icon="cd_document.ico"
                Advertise="yes">
          <Extension Id="duck">
            <Verb Id="open" Command="Open" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
        <ProgId Id="Cyberduck Connection.Profile"
                Description="Cyberduck Connection Profile"
                Icon="cd_document.ico"
                Advertise="yes">
          <Extension Id="cyberduckprofile">
            <Verb Id="open" Command="Open" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
        <ProgId Id="Cyberduck.License"
                Description="Cyberduck License"
                Icon="cd_document.ico"
                Advertise="yes">
          <Extension Id="cyberducklicense">
            <Verb Id="open" Command="Open" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>

        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryKey Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities">
          <RegistryValue Name="ApplicationDescription"
                         Value="Libre FTP, SFTP, WebDAV, SMB, S3 and OpenStack Swift browser for Mac and Windows."
                         Type="string" />
          <RegistryValue Name="ApplicationIcon" Value="[#product.exe],0" Type="string" />
          <RegistryValue Name="ApplicationName" Value="!(bind.property.ProductName)" Type="string" />
          <RegistryValue Key="DefaultIcon" Value="[#product.exe],1" Type="string" />
          <RegistryValue Key="shell\Open\command" Value="&quot;[#product.exe]&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>
        
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\Cyberduck.ProtocolHandler">
          <RegistryValue Value="Cyberduck Protocol" Type="string" />
          <RegistryValue Key="DefaultIcon" Value="[#product.exe],0" Type="string" />
          <RegistryValue Key="shell\open\command"
                         Value="&quot;[#product.exe]&quot; &quot;%1&quot;"
                         Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="Registration">
        <!-- App Paths to support Start,Run -> "Cyberduck" -->
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Cyberduck.exe">
          <RegistryValue Value="Cyberduck.exe" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLFOLDER]" Type="string" />
        </RegistryKey>

        <!-- Extend to the "open with" list + Win7 jump menu pinning -->
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\Applications\Cyberduck.exe">
          <RegistryKey Key="SupportedTypes">
            <RegistryValue Name=".duck" Value="" Type="string" />
            <RegistryValue Name=".cyberduckprofile" Value="" Type="string" />
            <RegistryValue Name=".cyberducklicense" Value="" Type="string" />
          </RegistryKey>
          <RegistryValue Key="shell\open"
                         Name="FriendlyAppName"
                         Value="!(bind.property.ProductName)"
                         Type="string" />
        </RegistryKey>

        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\RegisteredApplications"
                       Name="!(bind.property.ProductName)"
                       Value="SOFTWARE\Cyberduck\Capabilities"
                       Type="string" />
      </Component>

      <Component Id="Associations">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes">
          <RegistryValue Key="Cyberduck.Bookmark"
                         Name="FriendlyTypeName"
                         Value="Cyberduck Bookmark"
                         Type="string" />
          <RegistryValue Key="Cyberduck Connection.Profile"
                         Name="FriendlyTypeName"
                         Value="Cyberduck Connection Profile"
                         Type="string" />
          <RegistryValue Key="Cyberduck.License"
                         Name="FriendlyTypeName"
                         Value="Cyberduck License"
                         Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SOFTWARE\Cyberduck\Capabilities">
          <RegistryKey Key="FileAssociations">
            <RegistryValue Name=".duck" Value="Cyberduck.Bookmark" Type="string" />
            <RegistryValue Name=".cyberduckprofile" Value="Cyberduck Connection.Profile" Type="string" />
            <RegistryValue Name=".cyberducklicense" Value="Cyberduck.License" Type="string" />
          </RegistryKey>
          <RegistryKey Key="URLAssociations">
            <RegistryValue Name="ftp" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="ftps" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="dav" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="davs" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="sftp" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="smb" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="s3" Value="Cyberduck.ProtocolHandler" Type="string" />
            <RegistryValue Name="irods" Value="Cyberduck.ProtocolHandler" Type="string" />
          </RegistryKey>
        </RegistryKey>
      </Component>

      <!-- Registration of URL Protocols. -->
      <Component Id="FTP.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\ftp" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\ftp" Value="URL:FTP (File Transfer Protocol)" Type="string" />
      </Component>
      <Component Id="FTPS.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\ftps" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\ftps" Value="URL:FTP-SSL (Explicit AUTH TLS)" Type="string" />
      </Component>
      <Component Id="SFTP.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\sftp" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\sftp" Value="URL:SFTP (SSH File Transfer Protocol)" Type="string" />
      </Component>
      <Component Id="DAV.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dav" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dav" Value="URL:WebDAV (HTTP)" Type="string" />
      </Component>
      <Component Id="DAVS.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\davs" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\davs" Value="URL:WebDAV (HTTPS)" Type="string" />
      </Component>
      <Component Id="S3.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\s3" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\s3" Value="URL:Amazon S3" Type="string" />
      </Component>
      <Component Id="IRODS.Handler" Permanent="yes" NeverOverwrite="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\irods" Name="URL Protocol" Value="" KeyPath="yes" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\irods" Value="URL:iRODS (Integrated Rule-Oriented Data System)" Type="string" />
      </Component>
    </ComponentGroup>

    <Feature Id="Package">
      <ComponentGroupRef Id="Package" />
    </Feature>
  </Package>
</Wix>