<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BookmarkItems</key>
        <array>
            <dict>
                <key>AutomaticallyCopiesWebURLAfterUpload</key>
                <false/>
                <key>ClassName</key>
                <string>Bookmark</string>
                <key>Name</key>
                <string>mirror.switch.ch</string>
                <key>PreferredFTPDataConnectionType</key>
                <string>Passive</string>
                <key>Protocol</key>
                <integer>0</integer>
                <key>Server</key>
                <string>mirror.switch.ch</string>
                <key>UUID</key>
                <string>98830938-AB16-4DCF-88FB-F50F7E317CF8</string>
            </dict>
            <dict>
                <key>AutomaticallyCopiesWebURLAfterUpload</key>
                <false/>
                <key>ClassName</key>
                <string>Bookmark</string>
                <key>Name</key>
                <string>s3.amazonaws.com (S3)</string>
                <key>Port</key>
                <integer>443</integer>
                <key>Protocol</key>
                <integer>0</integer>
                <key>Server</key>
                <string>s3.amazonaws.com</string>
                <key>UUID</key>
                <string>DECD6989-411B-415B-9897-04450FAE37CD</string>
                <key>Username</key>
                <string>0EZZWKSC9Y6B33ARJY02</string>
            </dict>
            <dict>
                <key>AutomaticallyCopiesWebURLAfterUpload</key>
                <false/>
                <key>ClassName</key>
                <string>Bookmark</string>
                <key>InitialPath</key>
                <string>/public_html</string>
                <key>Name</key>
                <string>Test (FTPS)</string>
                <key>Port</key>
                <integer>21</integer>
                <key>Protocol</key>
                <integer>0</integer>
                <key>Server</key>
                <string>cyberduck.ch</string>
                <key>UUID</key>
                <string>10A5C403-BBD4-4E04-9C00-DD5FC14AF6C8</string>
                <key>Username</key>
                <string>dkocher</string>
            </dict>
        </array>
        <key>ClassName</key>
        <string>BookmarkFolder</string>
        <key>Name</key>
        <string>BOOKMARKS</string>
        <key>UUID</key>
        <string>CBB9839D-AE28-420A-83E4-34E2BD567CE2</string>
    </dict>
</plist>
