<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Cyberduck" Version="!(bind.packageVersion.Setup)" Manufacturer="iterate GmbH"
          UpgradeCode="69C1D059-4B45-4220-A82C-DAE80C9CD8E0" IconSourceFile="$(var.CyberduckDir)cyberduck-application.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl=""
                                              LogoFile="$(var.SetupDir)banner.png"
                                              LogoSideFile="$(var.SetupDir)welcome.bmp"
                                              ThemeFile="InstallerTheme.xml"/>
    </BootstrapperApplicationRef>
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]Cyberduck"/>
    <Variable Name="InstallBonjour" bal:Overridable="yes" Type="numeric" Value="1"/>
    <util:RegistrySearch Id="PreviousInstallFolderSearch" Root="HKLM" Key="Software\[WixBundleManufacturer]\[WixBundleName]" Value="InstallDir" Variable="PreviousInstallFolder" />
    <util:RegistrySearch Id="CurrentBuild" Variable="CBNumber" Result="value" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Value="CurrentBuildNumber"/>
    <util:DirectorySearch Path="[PreviousInstallFolder]" Variable="InstallFolder" After="PreviousInstallFolderSearch" Condition="PreviousInstallFolder" />
    <Variable Name="Autostart" bal:Overridable="yes" Type="numeric" Value="0" />

    <bal:Condition Message="Windows 10 Anniversary Update (14393) or later is required to run this application.">
      <![CDATA[VersionNT >= v10.0 AND CBNumber >= 14393]]>
    </bal:Condition>

    <Chain>
      <PackageGroupRef Id="NetFx472Web" />
      <RollbackBoundary/>
      <MsiPackage
              Id="Setup"
              Compressed="yes"
              SourceFile="$(var.cyberduck-installer-msi.TargetPath)"
              Vital="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]"/>
        <MsiProperty Name="AUTOSTART" Value="0"/>
      </MsiPackage>
      <MsiPackage SourceFile="$(var.SetupDir)Bonjour.msi" Compressed="yes" Permanent="yes" Visible="yes" Vital="no" InstallCondition="InstallBonjour=1 AND NOT VersionNT64"/>
      <MsiPackage SourceFile="$(var.SetupDir)Bonjour64.msi" Compressed="yes" Permanent="yes" Visible="yes" Vital="no" InstallCondition="InstallBonjour=1 AND VersionNT64"/>
    </Chain>
  </Bundle>
</Wix>
