name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-11, macos-12, ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Disable Testcontainers for Windows and MacOS
        run: echo "args=-P=no-testcontainers" >> "$GITHUB_ENV"
        shell: bash
        if: runner.os == 'windows' || runner.os == 'macos'
      - run: choco install bonjour
        if: runner.os == 'windows'
      - uses: ilammy/msvc-dev-cmd@v1
        if: runner.os == 'windows'
      - uses: microsoft/setup-msbuild@v1.3
        if: runner.os == 'windows'
        with:
          msbuild-architecture: x64
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn --no-transfer-progress verify -DskipITs -DskipSign ${{ env.args }} --batch-mode -Drevision=0