name: Integration Tests

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      checks: write
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
      - name: Build with Maven
        env:
          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        run: mvn verify -pl protocols -am --no-transfer-progress --batch-mode --fail-at-end -Denforcer.skip
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1.9.0
